
div{
    display:none;
}
.divGueShowing{
    width:500px;
    position:absolute;
    left:0px;
    padding:0;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
}
.guessNumber{
    margin:0px;
}

